header {
	background: url(assets/background.jpg);
	background-size: cover;
	text-align: center;
}

img {
	max-height: 250px;
	max-width: 250px;
	margin: 40px 0px 25px 0px;
	border: 7px solid #79a498;
	border-radius: 20px;
}

h1 {
	font-family: Arial;
	text-align: center;
	color: orange; <!-- #79a498; -->
	font-size: 30px;
}

ul {
	padding: 10px;
	background-color: rgba(249, 231, 69, .35);
}

li {
	display: inline;
	padding: 0px 10px;
}

a {
	color: #79a498;
}